.App {
  text-align: center;
}

.App-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tas {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #efeaea;
}

/*
-App-style {
  min-height: 100vh;
}

div {
  border: 1px solid #efeaea;

}
*/